<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="margin-top:-10px">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Managerhomepage' %}" style="color:white;margin-top:0px;border-radius:15px;border:1px solid white;">Back</a>
            </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'loginpage' %}" style="color:white;border-radius:15px;border:1px solid white;" target="_blank">Logout</a>
                   </li>
               </ul>
   </nav>
